<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MauHolidays"
        tools:targetApi="31">
        <activity
            android:name=".club_kenzi"
            android:exported="false" />
        <activity
            android:name=".club_lakaz"
            android:exported="false" />
        <activity
            android:name=".club_banana"
            android:exported="false" />
        <activity
            android:name=".club_insomnia"
            android:exported="false" />
        <activity
            android:name=".club_omg"
            android:exported="false" />
        <activity
            android:name=".all_nature"
            android:exported="false" />
        <activity
            android:name=".black_river"
            android:exported="false" />
        <activity
            android:name=".nature_park"
            android:exported="false" />
        <activity
            android:name=".hotel_sofitel"
            android:exported="false" />
        <activity
            android:name=".hotel_outrigger"
            android:exported="false" />
        <activity
            android:name=".hotel_amber"
            android:exported="false" />
        <activity
            android:name=".all_hotel"
            android:exported="false" />
        <activity
            android:name=".hotel_maritim"
            android:exported="false" />
        <activity
            android:name=".hotel_mariotte"
            android:exported="false" />
        <activity
            android:name=".hotel_preski"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDpQM7U5AUsI8-1scORRRP8IFtqdkZd4Tc" />

        <activity
            android:name=".videoMain"
            android:exported="false" />
        <activity
            android:name=".map"
            android:exported="false" />
        <activity
            android:name=".all"
            android:exported="false" />
        <activity
            android:name=".safari"
            android:exported="false" />
        <activity
            android:name=".mariottHotel"
            android:exported="false" />
        <activity
            android:name=".preskilHotel"
            android:exported="false" />
        <activity
            android:name=".laCroisette"
            android:exported="false" />
        <activity
            android:name=".topTransports"
            android:exported="false" />
        <activity
            android:name=".topPlaces"
            android:exported="false" />
        <activity
            android:name=".top_hotels"
            android:exported="false" />
        <activity
            android:name=".topFoods"
            android:exported="false" />
        <activity
            android:name=".topActivities"
            android:exported="false" />
        <activity
            android:name=".sitarIndianFood"
            android:exported="false" />
        <activity
            android:name=".seaKart_"
            android:exported="false" />
        <activity
            android:name=".theRedChurch"
            android:exported="false" />
        <activity
            android:name=".pizza_"
            android:exported="false" />
        <activity
            android:name=".top_clubs"
            android:exported="false" />
        <activity
            android:name=".leMorne"
            android:exported="false" />
        <activity
            android:name=".pieterBoth"
            android:exported="false" />
        <activity
            android:name=".ssrBotanicalGarden"
            android:exported="false" />
        <activity
            android:name=".top_nature"
            android:exported="false" />
        <activity
            android:name=".caudanwaterfront"
            android:exported="false" />
        <activity
            android:name=".currency"
            android:exported="false" />
        <activity
            android:name=".Emergency"
            android:exported="false" />
        <activity
            android:name=".Favourite"
            android:exported="false" />
        <activity
            android:name=".signup"
            android:exported="false" />
        <activity
            android:name=".screen151617"
            android:exported="false" />
        <activity
            android:name=".screen111213"
            android:exported="false" />
        <activity
            android:name=".screen345"
            android:exported="false" />
        <activity
            android:name=".screen789"
            android:exported="false" />
        <activity
            android:name=".SettingPage"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".screen27"
            android:exported="false" />
        <activity
            android:name=".screen26"
            android:exported="false" />
        <activity
            android:name=".screen25"
            android:exported="false" />
        <activity
            android:name=".screen24"
            android:exported="false" />
        <activity
            android:name=".screen23"
            android:exported="false" />
        <activity
            android:name=".screen22"
            android:exported="false" />
        <activity
            android:name=".screen21"
            android:exported="false" />
        <activity
            android:name=".screen20"
            android:exported="false" />
        <activity
            android:name=".screen19"
            android:exported="false" />
        <activity
            android:name=".screen18"
            android:exported="false" />
        <activity
            android:name=".screen17"
            android:exported="false" />
        <activity
            android:name=".screen16"
            android:exported="false" />
        <activity
            android:name=".screen15"
            android:exported="false" />
        <activity
            android:name=".screen14"
            android:exported="false" />
        <activity
            android:name=".screen13"
            android:exported="false" />
        <activity
            android:name=".screen12"
            android:exported="false" />
        <activity
            android:name=".screen11"
            android:exported="false" />
        <activity
            android:name=".screen10"
            android:exported="false" />
        <activity
            android:name=".screen9"
            android:exported="false" />
        <activity
            android:name=".screen8"
            android:exported="false" />
        <activity
            android:name=".screen7"
            android:exported="false" />
        <activity
            android:name=".screen6"
            android:exported="false" />
        <activity
            android:name=".screen5"
            android:exported="false" />
        <activity
            android:name=".screen4"
            android:exported="false" />
        <activity
            android:name=".screen3"
            android:exported="false" />
        <activity
            android:name=".screen2"
            android:exported="false" />
        <activity
            android:name=".screen1"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".WelcomeScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
    </application>

</manifest>